/* 
COLOR PALETTE
---------------------
blueberry #6B7A8F
Apricot   #F7882F
Citrus    #F7C331
AppleCore #DCC7AA


FONT STYLES
---------------------


BUTTON / LINKS
---------------------
primary   .primaryCTA
secondary .secondaryCTA
inline .inlineLink
*/

/*
CSS FILE BREAKDOWN
  cmd + f titles to find sections 

1: TYPOGRAPHY AND BUTTONS
2: LANDING PAGE / HERO
3: FEATURED BLOG POSTS
4: ABOUT / CUSTOM SECTION - 1
5: CONTACT / CUSTOM SECTION - 2
6: OPTIONAL CUSTOM SECTION - 3
7: HEADER / NAV / FOOTER

*/

@import url("https://fonts.googleapis.com/css?family=Raleway:300i,400,800");
body {
  width: 100vw;
  font-family: 'Raleway', sans-serif;
}

a.primaryCTA {
  background: #F7C331;
  transition: background 0.5s ease;
  padding: 10px 36px;
  border: 1px solid #F7C331;
  text-decoration: none;
  color: #fff;
  margin: 0 2px;
  text-transform: uppercase;
}
a.primaryCTA:hover {
  background: rgba(247,195,49,.8);
}

a.secondaryCTA {
  background: rgba(247,195,49,.1);
  transition: background 0.5s ease;
  border: 1px solid #F7C331;
  padding: 10px 36px;
  text-decoration: none;
  color: #ffffff;
  margin: 0 2px;
  text-transform: uppercase;
}
a.secondaryCTA:hover {
  background: rgba(247,195,49,.5);
}

.mainNav {
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 999;
}

.mainNav .logo {
  display: block;
  width: 20%;
  max-width: 250px;
  float: left;
  margin: 2em;
}
.mainNav ul.menu {
      display: block;
    width: 100%;
    margin-right: 3em;
    float: right;
    text-align: right;
}
.mainNav ul.menu li {
  display: inline-block;
  padding: 0 10px;
  text-align: right;
}
.mainNav ul.menu li a {
  text-decoration: none;
  color: #ffffff;
}

.landing {
  height: 80vh;
  background: url(../img/placeimg_640_480_people.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.landingimg--overlay {
    background: rgba(0,0,0,.3);
    height: 80vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}
.landing .callToAction {
  width: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -25%;
  text-align: center;
}
.landing .callToAction .title {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
  color: #ffffff;
  letter-spacing: .1em;
}
.landing .callToAction p:last-of-type {
  margin-bottom: 10%;
  color: #ffffff;
  font-style: italic;
  letter-spacing: .05em;
}

.blogPosts {
  width: 100%;
}
.blogPosts .featuredPosts {
  width: 33%;
  margin: 0;
  display: inline-block;
  padding:0;
  vertical-align: top;
}

.imageContainer_4to3 {
  width: 101%;
  height: 20vw;
  display: block;
  position: relative;
  overflow: hidden;
}

.imageContainer_4to3 h3 {
  width: 80%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -40%;
  font-size: 1.75em;
  text-transform: uppercase;
}

.blogPosts .imageContainer_4to3 img {
    position:absolute;
    z-index:-1;
    top:0%;
    left:50%;
    margin-left: -50%;
    width: 100%;
}

.galleryimg--overlay {
    background: rgba(0,0,0,.3);
    height: inherit;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
    transition: opacity .5s;
}

.copyContainer {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -50%;
  display:none;
  transition: all .5s ease;
  background: rgba(0,0,0,.9);
  color :#ffffff;
}

.copyContainer p {
  width: 80%;
  padding-top: 10%;
  display: block;
  margin:0 auto;
}

.blogPosts .ctaBar a {
  background: #F7882F;
  height: 40px;
  margin: 0;
  width: 100vw;
  display: block;
  padding: 30px 0 10px 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.destinationMap {
  
  display: block;
  margin-top: 0;
  position: relative;
}

.destinationMap .blurb {
  display: inline-block;
  width: 20%;
  margin: 3% 0 3% 50%;
  padding: 5%;
  text-align: center;
}

.destinationMap .blurb h6 {
  margin: 0 0 1em 0;
  font-size: 1.5em;
  text-transform: uppercase;

}

.destinationMap .blurb ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 0 2em 0;
}

.destinationMap .blurb ul li {
  margin-left: 0;
}

.bio {
  background: url(../img/placeimg_640_480_globe.jpeg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: block;
  margin-top: 3em;
}
.bio .aboutme {
  display: inline-block;
  width: 30%;
  margin: 10% 0 10% 50%;
  padding: 5%;
  text-align: center;
  background: #ffffff;
}




/*-----------*/


.igviewer img {
  display: block;
  margin: 1rem auto;
  height: calc(100vh - 2rem);
  width: auto;
  box-shadow: 0px 10px 40px 10px rgba(0, 0, 0, 0.8);
}
.igviewer.hidden {
  display: none;
}

.instagram {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}
.instagram .image {
  background-repeat: none;
  background-position: center center;
  background-size: 100%;
  width: 19.75999999vw;
  height: 19.75999999vw;
  margin: 0;
  overflow: hidden;
  transition: all 200ms ease;
  position: relative;
  cursor: pointer;
}
.instagram .image:hover {
  background-size: 105%;
}
.instagram .image:hover .caption {
  display: block;
}


/*--------------*/
/*===== TABSET =====*/
.tabset {
  display: flex;
  height: 25em;
  
}

.tabset input[type="radio"]:checked + .tab-label {
  border: none;
}

.tabset .tab-label {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 1px;
  transition: all .5s ease;
  text-align: center;
  font-size: 1.25em;
  line-height: 1.25em;
  padding: 0;
}

.tabset .tab-label div {
  display: block;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
}

.tabset .tab-label:last-of-type {
  border-bottom: none;
}

.tabset .tab-label:hover {
  background: #6B7A8F;
}

.tab-content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  overflow: auto;
}

.tab-content ul {
  list-style: none;
  font-size: .7em;

}
.tab-content p {
  font-size: .7em;
line-height: 1.5em;
}

.tab-content ul li {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

.tab-content,
.tabset input[type="radio"] {
  display: none;
}

.tabset input[type="radio"]:checked + * + .tab-content {
  display: block;
}

.tabset label {
  font-size: 2rem;
  line-height: 50px;
  text-transform: uppercase;
}

.tab-content {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

/*===== COLORS =====*/
.tabset {
  background: #DCC7AA;
  color: #fff;
  border-color: #555;
}

.tabset input[type="radio"]:checked + .tab-label {
  background: #6B7A8F;
}

.tabset .tab-label {
  background: #DCC7AA;
  border-right-color: #333;
}

.tab-content {
  background: #78879e;
}

